// ------------------------
// 全体の構成に関するスタイル
//  Foundation6を使ったFlexBoxレイアウトを基本にしている
//

body.is-reveal-open {
    width:100%;
}

// 一番外枠のdiv。absoluteの基準をbodyではなくこのdivになるようにrelativeを指定
.frame {
    position: relative;
}

// コンテンツを配置する領域。コンテンツが画面の高さよりも小さい場合には画面いっぱいにする
.contents {
    @include xy-grid(vertical, true);
    @include xy-grid-frame(true);
    min-height: 100vh;
    height: 100%;
/*    width: 100vw;*/
    min-width: $mobile-min-width;
}

// フッター領域。ページ下部に固定
.bottom-footer {
    width: 100%;
    @include position(absolute, null, null, 0, null);
    height: 2em;
    line-height:2em;
}

// 要素を画面の中心に配置するクラス
.center-box {
    @include xy-grid(horizontal, true);
    @include flex-align(center, middle);
    min-height: 100vh;
    padding: 50px 0px;
}

.center-box-login {
    @include xy-grid(horizontal, true);
    @include flex-align(center, middle);
    min-height: calc(100vh - 7.9em);
    padding: 50px 0px;
}

.text-center {
    text-align: center;
}
p.err-message {
    font-size:0.8rem;
}
p.err-message span {
    font-size:1.2rem;
}

form label {
    display:inline-block;
    margin-right: 1rem;
    line-height: 2.4rem;
}

.reveal-overlay {
    z-index:6005;
}
.reveal {
    z-index:6006;
}

div#media-preview-modal {
    text-align:center;
    height:100%;
    width:auto;
    max-height:calc(100vh - 15%);
    max-width:calc(100vw - 15%);
    top: calc((100vh - 85%) / 2) !important;
}

div#media-preview-modal div{
    height:100%;
}
div#media-preview-modal div.flex-box{
    display:flex;
    align-items: center;
    justify-content: center;
}

div#media-preview-modal img,
div#media-preview-modal video {
    max-width:95%;
    max-height:100%;
}

// ------------------------
// 管理画面共通の構成に関するスタイル
//

// ヘッダ部分の表示スタイル
$head-line-height: 3.9em;

.system.head-line,
.manage.head-line,
.common.head-line {
    position: absolute;
    top : 0;
    height: $head-line-height;
    line-height: $head-line-height;
    width: 100%;
    text-align:right;
    color: $white;
    background-color: $soft-black;
    vertical-align:middle;
}
.manage.head-line {
    background-color: $panasonic-blue;
}
.common.head-line {
    background-color: #FFFFFF;
    border-bottom: 1px solid #666666;
/*    background-color: $panasonic-blue;*/
}

#user-name {
    font-size: 1.2em;
}

.system.head-line p,
.system.head-line ul.dropdown.menu,
.manage.head-line p,
.manage.head-line ul.dropdown.menu,
.common.head-line p,
.common.head-line ul.dropdown.menu {
    display: inline-block;
    margin-bottom: 0;
}
.system.head-line ul.dropdown.menu li.is-dropdown-submenu-parent > a::after,
.manage.head-line ul.dropdown.menu li.is-dropdown-submenu-parent > a::after,
.common.head-line ul.dropdown.menu li.is-dropdown-submenu-parent > a::after{
    border-color: $i-orange transparent transparent;
}
.system.head-line p button,
.manage.head-line p button,
.common.head-line p button {
    border: none;
}

ul.dropdown.menu li.left-open .is-dropdown-submenu {
    left:auto;
    right:0;
}

ul.menu.flex-right {
    justify-content: flex-end;
}

// 管理画面グローバルメニューを開くボタン
#open-global-navi {
    margin-bottom: 0;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: inline-block;
/*    z-index: 50000;*/
    z-index: 1004;
    cursor: pointer;

    @include breakpoint(small only) {
        bottom:0;
        right:0;
        margin-bottom:0;
    }
}

#open-global-navi button {
    margin: 0px;
    background-color: $white;
}
#open-global-navi button.radius {
    @include breakpoint(small only) {
        border-radius: unset;
    }
}
#open-global-navi button.shadow {
    @include breakpoint(small only) {
        box-shadow:none;
    }
}

#open-global-navi button i{
    @include breakpoint(small only) {
        display:none;
    }
}

.system.contents-body,
.manage.contents-body,
.common.contents-body {
    margin-top: $head-line-height;
    margin-bottom: 2.5em;
    padding-top: 1.5em;
}

// ショートカットメニュー
.system.shortcut-menu,
.manage.shortcut-menu,
.common.shortcut-menu {
    position: fixed;
    right:10px;
    top: $head-line-height + 3;
    height: 7em;
}


.confirm-btns form {
    display: inline-block;
}

.confirm-btns form button {
    cursor: pointer;
}

#globalMenu {
    width:100vw;
    max-width:800px;
    @include breakpoint(small only) {
        top:3.9em !important;
        width:100%;
        min-height:calc(100vh - 3.9em);
    }
}

/*
#globalMenu div.box {
    position: relative;
    width: 100%;
    height: 100%;
}
*/

#globalMenu /* div.box */ button.close-button {
    top:0;
    right:0;
/*
    // 左上固定
    position: fixed;
    top:auto;
    right:auto;
    margin: -1rem;
    // margin-rightを調整すれば右上に持ってこれるのだけど、CSSだけでは無理ぽ
*/
    border: 1px solid #CCCCCC;
    background-color: #E6E6E6;
    width: 2rem;
    height: 2rem;
/*    border-radius: 1rem; */
}

ul.flex-area {
    display:flex;
    flex-wrap: wrap;
    list-style:none;
    margin:0;
}

#globalMenu li.cell{
    text-align: center;
    width: calc(25% - 10px);
    margin: 5px;
    border:1px solid black;

    @include breakpoint(small only) {
        width:calc(100% - 10px);
    }
}
#globalMenu li.cell a {
    display:inline-block;
    width:100%;
/*    height:100%;*/
}

#globalMenu li.cell a i{
    @include breakpoint(small only) {
        display:inline-block;
        margin-right:0.2em;
        vertical-align:middle;
        font-size:2.5em;;
    }
}
#globalMenu li.cell a p{
    @include breakpoint(small only) {
        display:inline-block;
        margin-bottom:0;
        vertical-align:middle;
    }
}


// ------------------------
// 警告に関するスタイル
// 

// calloutのマージンが気持ち悪いので調整
div.alert.callout p {
    @include margin(null, null, 0, null);
}

// alert文字の文字色を設定
p.alert {
    color: get-color(alert);
}

// フォームの入力エラー表示に関する設定
div.form.error {
/*    margin-top: -1rem;*/
    background-color: get-color(alert);
    color: $white;
    padding: 0.2rem 0 0.2rem 0.5rem;
    margin-bottom: 0;
}

div.form.error p {
    margin:0;
}

/*
 * 一覧の操作結果表示部分のスタイル
 */
div.alert-success p {
    background-color: get-color(success);
/*    color: $white;*/
    padding: 0.2rem 0 0.2rem 0.5rem;
    margin-bottom: 1rem;
}
div.alert-warning p {
    background-color: get-color(warning);
/*    color: $white;*/
    padding: 0.2rem 0 0.2rem 0.5rem;
    margin-bottom: 1rem;
}
div.alert-danger p {
    background-color: get-color(alert);
    color: $white;
    padding: 0.2rem 0 0.2rem 0.5rem;
    margin-bottom: 1rem;
}

// ------------------------
// アイコン
// 
i {
    color: $i-orange;
}


i.medium {
    font-size: 2.5em;
}

i.large {
    font-size: 7.5em;
    line-height: 50px;
}

i.fi-ctrl-medium {
    font-size: 1.7em;
    line-height: 1.7em;
    margin-right: 0.3em;
}

.sortable-icons {
    white-space: nowrap;
}

.sortable-icons i.fi-arrow-up {
    margin-right: 0.2em;
}

.sortable-icons i {
    text-stroke:1px $i-orange;
    -webkit-text-stroke:1px $i-orange;
    color:#FFFFFF;
/*    color:#F0cd33; IEの場合はこっちにしないと背景と混じって見えなくなる */
}

.sortable-icons i.selected {
    color: $i-orange;
}

// ------------------------
// 一覧画面に関するスタイル
//

form#list_search_box_short_form.hidden,
form#list_search_box_form.hidden {
    display:none;
}

.table-frame {
    overflow: auto;
}

.table-frame table {
    min-width: $mobile-min-width;
}

.td-list-ctrl {
    text-align:right;
}

ul.pagination li.active {
    background-color: $active-number;
}

ul.pagination li.active a{
    cursor:default;
}

// ------------------------
// 入力画面に関するスタイル
//
div.form {
    margin-bottom:5rem;
}

div.form label span {
    padding:0.5em 0.5em;
    margin-left: 0.4em;
    border-radius: 15%;
    color: #FFFFFF;
}

div.form label span.required {
    white-space: nowrap;
    background-color: #cc4b37;
}

div.form label span.optional {
    white-space: nowrap;
    background-color: #1779ba;
}

div.form div.cell {
    margin-bottom: 1rem;
}

div.form div.cell div.input-group {
    margin-bottom: 0;
}

div.form div.cell input[type='text'],
div.form div.cell input[type='password'],
div.form div.cell input[type='date'],
div.form div.cell input[type='datetime'],
div.form div.cell select,
div.form div.cell textarea {
    margin-bottom:0;
}
div.form div.cell video {
    max-width: 100%;
}


div.form div.cell p.help-text {
    margin-top:0;
    margin-bottom:0;
}


div.in-contents-body {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
}

// ------------------------
// 要整理
// 

// ログイン画面などに表示するトップロゴ
.logo {
    text-align: center;
    margin: 30px 0;
}

// modalのセンタリングと大きさ合わせ
.reveal {
    height: calc(100vh - 30%);
    top: calc((100vh - 70%) / 2) !important;
}
#delete-modal {
    text-align: center;
    height: calc(100vh - 70%);
    top: calc((100vh - 30%) / 2) !important;
}


.box-padding {
    padding: $box-padding;
}

.margin-top-m1 {
    @include margin(-1, null, null, null);
}

.margin-tb-40 {
    @include margin(5, null, 5, null);
}


label.switch-paddle > .switch-active,
label.switch-paddle > .switch-inactive {
    width:40%;
    text-align:center;
    right:8%;
}


/*
 * 詳細・確認表示
*/
div.detail {
    margin-bottom: 5rem;
}
div.detail-controll {
    text-align: right;
}

div.detail div.input-group p,
div.confirm div.input-group p {
    margin-bottom: 0;
}
div.detail div.input-group p.group-label,
div.confirm div.input-group p.group-label {
    padding: 0 1rem;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
div.detail div.cell li video,
div.confirm div.cell li video {
    max-width: 100%;
}

// 画像アップロードサムネイル表示部分の画像登録がないときの表示のための
// スタイル

.preview {
    margin-bottom: 1em;
}

.no-file-view {
    width: 100%;
    min-height: 17em;
    display: table;
    padding: 10px;
}

.no-file-view div {
    display: table-row;
    width: 100%;
    height: 100%;
}
    

.no-file-view div p {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    border: 4px dashed #66ffFF;
    background-color: #eeffff;
    border-radius: 1em;
    border-radius: 1em;
    color: #33cccc;
    font-size: 1.3em;
}

ul.preview-list {
    margin: 0;
    margin-bottom:1rem;
}

ul.preview-list li {
    width: 10em;
    text-decoration: none;
    position: relative;
    display: inline-block;
    list-style: none;
}

ul.preview-list li.single-image,
ul.preview-list li.single-movie {
    width: auto;
    max-width: 40em;
}

ul.preview-list li.movie,
ul.preview-list li.movie video
ul.preview-list li.single-movie video {
    width: auto;
    max-width:20em;
}

ul.preview-list li.movie a,
ul.preview-list li.single-movie a {
    position:relative;
    display:inline-block;
}

ul.preview-list li.movie a::after,
ul.preview-list li.single-movie a::after {
    content: '';
    background-image:url('/vendor/azuki/img/playing.png');
    display:inline-block;
    width:50%;
    height:50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center center;
    position:absolute;
    top:25%;
    left:25%;
/*    opacity:0.8;*/
}


div.draggable ul.preview-list li img,
div.draggable ul.preview-list li video {
    cursor: grab;
}

ul.preview-list li i.fi-trash {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 5000;
    background-color: #FFFFFF;
    width: 2em;
    height: 2em;
    text-align: center;
    cursor: pointer;
    filter: alpha(opacity=40);
    -moz-opacity: 0.4;
    opacity: 0.4;
}
ul.preview-list li i.fi-trash:hover {
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    opacity: 0.9;
}

ul.preview-list li i.fi-trash:before {
    line-height: 2em;
}

// ------------------------
// 一覧のタイトルヘッダ横に表示するリンクリスト
//

ul.head-link {
    display: inline-block;
    list-style: none;
    font-size: 0.5em;
    text-decoration: none;
    margin: 0;
    float: right;
}

ul.head-link li {
    display: inline-block;
    margin-left:0.2em;
    background-color: #EFEFEF;
}

ul.head-link li a {
    display: block;
    padding: 0.5em 0.8em;
    color: $soft-black;
}

ul.head-link li.active {
    color: #FFFFFF;
    padding: 0.5em 0.8em;
    background-color: $active-number;
}


// ------------------------
// 収集データの削除ブロック
//

div.delete-from-database {
    text-align:right;
    margin-bottom:0.5em;
}

div.delete-from-database select,
div.delete-from-database button {
    margin:0;
}

// -------------------------
// cronモーダル部分
//

div#cron-modal p.title-label {
    border-bottom: 2px solid #CFCFCf;
}

div#cron-modal div.cron-regist-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
}

// ------------------------
// インフォメーションヘッダ
// ページヘッダのスタイル

.information-section h2,
.dashbord-information h2 {
    font-size: 2rem;
    border-left: 1rem solid #00FF00;
    padding-left: 1rem;
    border-bottom: 1px solid #DFDFDF;
}

h3.line-style {
    border-bottom: 1px solid #CFCFCF;
}


/***
 * フロント側のみのスタイル
 ****/

// トップに戻るボタン
div.to-page-top {
    position:fixed;
    bottom:1rem;
    right:1rem;
    z-index:1003;
    width: 2.6em;
    height: 2.6em;
    border: solid 1.2px #39ac39;
    border-radius: 1.3em;
    text-align: center;
}

div.to-page-top i {
    color: #39ac39;
    font-size:1.5em;
}

// --------------------------
// SNSログインリンクボタンのスタイル
// 


div.sns-login {
}

div.sns-login p {
    margin-bottom: 0.3rem;
    border-bottom: 1px solid;
}

div.sns-login ul {
    list-style: none;
    line-height: 0;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
}

div.sns-login ul li {
    margin-right: 0.5em;
}

div.sns-login ul li:last-child {
    margin-right: 0;
}

div.sns-login ul li img.twitter {
    width:35px;
}
