$black: #5b6364;
$real-black: #000000;
$soft-black: #43341B; // 憲法染
// $i-orange: #f08300;
// $i-orange: #E98B2A; // 紅ウコン
$i-orange: #FC9F4D; // 萱草
$panasonic-blue: #0f58a8;
$green: #6FB536;

$active-number: #A8D8B9; // 白緑
//$active-number: #FEDFE1; // 桜
